main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px 60px;
    background-color: #f0f0f033;
    overflow-y: relative;

}

main h1 {
    color: #696464a3;
}


table {
    /* border-collapse: collapse; */
    border: 1px solid black;
    margin: auto;
    padding: 5px;
}

th,
td {
    border: 1px solid black;
    padding: 5px;
}

th {
    background-color: lightgray;
    text-decoration: solid;
    color: #696464a3;
}

.mathematics,
.english,
.physics,
.chemistry,
.biology,
.total {
    text-align: center;
}